*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  list-style: none;
}
a {
  color: inherit;
}
body {
  background-image: linear-gradient(109.6deg,rgb(6, 12, 73)11.2%,rgb(83, 94, 194) 91.1%);
  color: #fff;
  font-family: "Rubik", sans-serif;
}
// stepper
.MuiStepConnector-line {
  border-top-style: dashed !important;
}
.MuiStepIcon-root {
  color: #ffd901 !important;
  font-size: 21px !important;
}
.MuiStepIcon-text {
  fill: #111 !important;
}
.MuiCardActions-root > :not(:first-of-type) {
  margin: 0 !important;
}